@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-background: #000000;
    --color-surface: #121212;
    --color-primary: #2563eb;
    --color-secondary: #8b5cf6;
    --color-accent: #10b981;

    --font-sans: 'SF Pro Display', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif';

    --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
